<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacroMR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<MacroMR.Properties.Settings>
      <setting name="MacroSpeed" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="MouseSensitivity" serializeAs="String">
          <value>3</value>
      </setting>
      <setting name="MainKey" serializeAs="String">
          <value>F</value>
      </setting>
      <setting name="Key1" serializeAs="String">
          <value>P</value>
      </setting>
      <setting name="Key2" serializeAs="String">
          <value>K</value>
      </setting>
      <setting name="InfiniteMacro" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="EnableExtraKey1" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="EnableExtraKey2" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="EditKey" serializeAs="String">
          <value>F</value>
      </setting>
      <setting name="EnableKey2" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="EnableKey1" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Key3" serializeAs="String">
          <value />
      </setting>
      <setting name="Key4" serializeAs="String">
          <value />
      </setting>
      <setting name="EnableKey3" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="EnableKey4" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="EnableKey5" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="Key5" serializeAs="String">
          <value />
      </setting>
  </MacroMR.Properties.Settings>
    </userSettings>
</configuration>